# add console=tty0 to output kernel messages on LCD screen

# this substitution doesn't work, hardcoding
#setenv bootargs console=ttyS2,115200n8 rdinit=/nonsense root=/dev/nfs rootfstype=nfs nfsroot=<nfsroot> rootwait rw ip=<ip>
setenv bootargs console=ttyS2,115200n8 rdinit=/nonsense root=/dev/nfs rootfstype=nfs nfsroot=212.116.109.58:/,vers=4,tcp rootwait rw ip=dhcp

#mw.b send data to ttyS1

# fill LED PB to 50%
mw.b 0x01D0C000 0x41   #A
mw.b 0x01D0C000 0x30   #0
mw.b 0x01D0C000 0x33   #3
mw.b 0x01D0C000 0x32   #2
mw.b 0x01D0C000 0x67   #g

fatload usb 0:1 0xC2000000 uImage.presonus-cs18ai

# exit update status pattern
mw.b 0x01D0C000 0x41   #A
mw.b 0x01D0C000 0x30   #0
mw.b 0x01D0C000 0x36   #6
mw.b 0x01D0C000 0x36   #6
mw.b 0x01D0C000 0x67   #g

bootm 0xC2000000